body{
	margin: 2.5vw auto auto 27vw;
	max-width: 51vw;
	line-height: 1.6;
	font-size: 1.125em;
	color:#444;
	padding: 0.625em
}
h1,h2,h3{
	line-height:1.2
}
code{
	font: normal 0.833em Consolas, Monaco, monospace;
	display: block;
	padding: 1em;
	overflow-y: auto;
	overflow-x: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #444 #777 #777 #444;
	white-space: pre-wrap;
}
.article-index{
    border: solid 1px black;
    white-space: nowrap;
    margin-right: 1vw;
    width: 25vw;
	position: absolute;
	left: 1vw;
    overflow-x: scroll;
}