body {
	background-color: darkslateblue;
	font-family: sans-serif;
	margin: 0px;
	text-align: center;
	font-style: oblique;
	color: lightpink;
	height: 100%;
}

#wrapper {
	min-height: 100vh;
	position: relative;
}

a {
	color: hotpink;
	text-shadow: 0.07em 0.07em blue;
	font-family: sans-serif;
	font-style: oblique;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
    color: aquamarine;
}

/*  Header Menu   */
#header-menu {
	width: 75%;
	display: table;
	margin: 0 auto;
	margin-top: 25px;
	text-align: center;
}

#header-menu .header-menu-link {
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.header-menu-link a {
    font-size: 24px;
}

/*  Content area  */
#content-header {
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: lighter;
}

#content-area {
    width: 66vw;
    margin: 0 auto;
    margin-top: 40px;
	height: auto;
    padding-bottom: 150px;
}

.content-block {
	width: 100%;
	border-bottom: 2px dashed hotpink;
	margin-bottom: 25px;
	
	/*
	For use with expander:
	
	height: auto;
	min-height: 200px;
	overflow: hidden;
	position: relative;
	*/
}

.content-main {
    width: auto;
    margin-left: 20vw;
}

.content-data {
    color: lightpink;
    width: 15vw;
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
	font-style: oblique;
	word-wrap: break-word;
}

.content-publishdate {
}

.content-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.content-title a {
}

.content-tags {
	display: inline-block;
}

.content-expander {
    display: none;
    right: 600px;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.content-expander a {
}

.content-expander a:hover {
}

.content-text {
    color: azure;
	text-shadow: 1px 1px black;
    font-size: 16px;
    line-height: 160%;
	font-style: normal;
	
    padding-bottom: 50px;
	padding-top: 10px;
	padding-left: 10px;
	
    text-align: left;
	word-wrap: break-word;
	overflow: hidden;
}

.content-text blockquote {
    border-left: 2px solid azure;
	padding-left: 8px;
}

.content-text img {
	border: 2px dashed hotpink;
	max-width: 95%;
}

.content-text a {
	color: lightpink;
	text-shadow: 1px 1px black;
	font-family: sans-serif;
	font-style: normal;
	text-transform: none;
	text-decoration: underline;
}

.content-text a:visited {
	color: pink;
}

.content-text h1,h2,h3,h4,h5,h6 {
    color: hotpink;
    text-shadow: 0.07em 0.07em blue;
    line-height: 1.2;
}

.game-info-box {
	width: 200px;
	min-height: 50px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: transparent;
	border: 2px dashed hotpink;
	float: right;
	
	color: lightpink;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
	font-style: oblique;
	
	line-height: 1.1;
	
	overflow: hidden;
	position: relative;
}

.game-info-box img {
	max-width: 95%;
	width: auto;
	height: auto;
	border: none;
	margin: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid hotpink;
}

.game-info-box p {
	text-align: left;
	margin-left: 5px;
	margin-right: 7px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.game-info-box a {
	color: pink;
	text-shadow: 0.07em 0.07em blue;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
	font-style: oblique;
	text-decoration: none;
}

.game-info-box a:hover {
	color: aquamarine;
}

.game-info-box span {
	float: right;
}

.expander {
	background: linear-gradient(to bottom, transparent, darkslateblue);
	width: 100%;
	min-height: 50px;
	bottom: 0px;
	position: absolute;
	z-index: 1;
	text-align: center;
}

.expander a {
	text-transform: none;
	text-decoration: none;
	font-style: normal;
	color: hotpink;
	text-shadow: 0.07em 0.07em blue;
	font-size: 30px;
	display: block;
	cursor: pointer;
	
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.expander a:hover {
	color: aquamarine;
	text-shadow: 0.07em 0.07em black;
}

/*  Footer  */
#footer {
    color: lightpink;
	font-style: oblique;
    text-align: center;
    font-size: 14px;
	padding-top: 75px;
    height: 75px;
	background: linear-gradient(to bottom, darkslateblue, midnightblue);
	position: absolute;
	bottom: 0px;
	width: 100%;
}

/*  Code blocks  */
.highlight pre {
    font-size: 12px;
	text-shadow: none;
	line-height: 1;
	border-radius: 5px;
	margin: 2px;
	padding: 5px;
}

/* Title (grid and KDRNIC) */
@keyframes title-gridanim {
	from {
		transform: translateZ(-300px) rotateX(0deg);
	}
	to  {
		transform: rotateX(70deg);
	}
}

@keyframes title-titleanim {
	from {
		transform: translateX(75vw);
	}
	to  {
		transform: translateX(0px);
	}
}

.title-grid {
	font-family: monospace;
	color: transparent;
	text-shadow: 0px 0px 3px aquamarine, 0px 0px 1px aquamarine, 0px 0px 2px aquamarine;
	transform: rotateX(70deg);
	text-align: center;
	font-style: normal;
}

.title-title {
	color:hotpink;
	text-shadow:4px 4px blue;
	font-family: sans-serif;
	font-size: 58px;
	font-style: oblique;
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.title-title-animated {
	/* Empty since only animates on index page */
}

.title-grid-animated {
	/* Empty since only animates on index page */
}

.title-container {
	perspective: 210px;
	background: linear-gradient(to top, darkslateblue, midnightblue);
	overflow: hidden;
}